<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>PA Steel League Match Standings</title>
	<style type="text/css" title="currentStyle">
           @import "http://steelshooters.com/datatables/DataTables-1.10.0/media/css/jquery.dataTables.css";
     </style>
	
	<script type="text/javascript" language="javascript" src="http://steelshooters.com/datatables/DataTables-1.10.0/media/js/jquery.js"></script>
	<!-- <script type="text/javascript" language="javascript" src="http://steelshooters.com/datatables/DataTables-1.10.0/examples/examples_support/jquery.jeditable.js"></script> -->
        <script type="text/javascript" language="javascript" src="http://steelshooters.com/datatables/DataTables-1.10.0/media/js/jquery.dataTables.js"></script>
	<script type="text/javascript" charset="utf-8">
                        /* Define two custom functions (asc and desc) for string sorting */
                        jQuery.fn.dataTableExt.oSort['string-case-asc']  = function(x,y) {
                                return ((x < y) ? -1 : ((x > y) ?  1 : 0));
                        };
                        
                        jQuery.fn.dataTableExt.oSort['string-case-desc'] = function(x,y) {
                                return ((x < y) ?  1 : ((x > y) ? -1 : 0));
                        };
                        
                        $(document).ready(function() {
                                /* Build the DataTable with third column using our custom sort functions */
                                $('#example1').dataTable( {
                                        "bPaginate": false,			
                                        "aaSorting": [ [13,'desc'] ],
                                        "aoColumnDefs": [
                                                { "sType": 'string-case', "aTargets": [ 2 ] }
                                        ]
                                });
                                $('#example2').dataTable( {
                                        "bPaginate": false,
                                        "aaSorting": [ [13,'desc'] ],
                                        "aoColumnDefs": [
                                                { "sType": 'string-case', "aTargets": [ 2 ] }
                                        ]
                                }); 
                                $('#example3').dataTable( {
                                        "bPaginate": false,
                                        "aaSorting": [ [13,'desc'] ],
                                        "aoColumnDefs": [
                                                { "sType": 'string-case', "aTargets": [ 2 ] }
                                        ]
                                }); 
                                $('#example4').dataTable( {
                                        "bPaginate": false,
                                        "aaSorting": [ [13,'desc'] ],
                                        "aoColumnDefs": [
                                                { "sType": 'string-case', "aTargets": [ 2 ] }
                                        ]
                                }); 
                                $('#example5').dataTable( {
                                        "bPaginate": false,
                                        "aaSorting": [ [13,'desc'] ],
                                        "aoColumnDefs": [
                                                { "sType": 'string-case', "aTargets": [ 2 ] }
                                        ]
                                }); 
                                $('#example6').dataTable( {
                                        "bPaginate": false,
                                        "aaSorting": [ [13,'desc'] ],
                                        "aoColumnDefs": [
                                                { "sType": 'string-case', "aTargets": [ 2 ] }
                                        ]
                                });
                               
                        } );
	</script>


</head>
<body>
<div id="demo">


